// >>-- 117 Editor css start --<<
    .trumbowyg-box{
        border: 2px dashed rgba(var(--dark),.4);
        border-radius: var(--app-border-radius);
        overflow: hidden;
        .trumbowyg-button-pane{
            border-bottom: 0;
            background: white;
            border-color:black ;
            .trumbowyg-button-group{
                &:hover {
                    button{
                    background: white ;
                }
                }
            }
        }
    }

// >>-- 117 Editor css end --<<
